*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    display: flex;
    justify-content: center;
    font-family: sans-serif;
    background-color: lightgray;
}

.container{
    background-color: #384152;
    width: 90vh;
    height: 90vh;
    /* display: flex; */
    flex-direction: column;
    padding: 10px;
    margin-top: 40px;
    border-radius: 5px;
}

header{
    display: flex;
    flex-direction: column;
    /* gap: 20px; */
    margin: 20px 0;
}

header h1, main h3{
    color: #aaaaaa;
    margin-bottom: 20px;
    font-weight: lighter;
}

.new-tasks #new-task-input{
    width: 80%;
    outline: none;
    border: none;
    padding: 0 10px;
    height: 42px;
    border-radius: 5px;
    background: #202938;
    color: rgb(141, 143, 145);
    font-size: 15px;
}

.new-tasks #add-new-task{
    width: auto;
    outline: none;
    border: none;
    padding: 0 10px;
    height: 42px;
    border-radius: 5px;
    font-size: 18px;
}


main{
    display: flex;
    flex-direction: column;
}

.task-list{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.task-list .task{
    width: 100%;
    padding:10px;
    height: 42px;
    border-radius: 5px;
    background: #111828;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.task-list input{
    width: 70%;
    outline: none;
    border: none;
    background: none;
    color: #fff;
    font-size: 18px;
}

.actions button{
    width: auto;
    outline: none;
    border: none;
    background: none;
    color: #fff;
    font-size: 16px;
    margin: 0 10px;
    font-weight: bolder;
}
